body{
    height:100vh;
    background-color:aqua;
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
}
#sticker
{
    font-size:20vh;
    filter:grayscale(1);
    transition-duration:300ms;
   

}
#sticker:hover{
    filter:grayscale(0);
    transform:scale(150%);
  
}
body:hover{
    background-color:hotpink;
}